* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

.row {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
}

.container-fluid {
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 95%;
  }
  .col-lg-1 {
    width: 8.3333333333%;
  }
  .col-lg-2 {
    width: 16.6666666667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.3333333333%;
  }
  .col-lg-5 {
    width: 41.6666666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.3333333333%;
  }
  .col-lg-8 {
    width: 66.6666666667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.3333333333%;
  }
  .col-lg-11 {
    width: 91.6666666667%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
@media only screen and (max-width: 992px) {
  .container {
    width: 90%;
  }
  .col-md-1 {
    width: 8.3333333333%;
  }
  .col-md-2 {
    width: 16.6666666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.3333333333%;
  }
  .col-md-5 {
    width: 41.6666666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.3333333333%;
  }
  .col-md-8 {
    width: 66.6666666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.3333333333%;
  }
  .col-md-11 {
    width: 91.6666666667%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    width: 95%;
  }
  .col-sm-1 {
    width: 8.3333333333%;
  }
  .col-sm-2 {
    width: 16.6666666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.3333333333%;
  }
  .col-sm-5 {
    width: 41.6666666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.3333333333%;
  }
  .col-sm-8 {
    width: 66.6666666667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.3333333333%;
  }
  .col-sm-11 {
    width: 91.6666666667%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
@media only screen and (max-width: 576px) {
  .container {
    width: 95%;
  }
  .col-xs-1 {
    width: 8.3333333333%;
  }
  .col-xs-2 {
    width: 16.6666666667%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.3333333333%;
  }
  .col-xs-5 {
    width: 41.6666666667%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.3333333333%;
  }
  .col-xs-8 {
    width: 66.6666666667%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-10 {
    width: 83.3333333333%;
  }
  .col-xs-11 {
    width: 91.6666666667%;
  }
  .col-xs-12 {
    width: 100%;
  }
}
main .book-now .row .col-6 .book-button button, main .destinations .destinations-container .row .col-3 .destination-card .destination-texts .destination-button button, main .about .about-container .row .col-6 .about-texts article button, main .hero .hero-texts article button {
  margin-top: 20px;
  padding: 20px 35px;
  background-color: #2089ff;
  border: none;
  color: white;
  letter-spacing: 2px;
  border-radius: 7px;
  font-weight: 700;
}
main .book-now .row .col-6 .book-button button:hover, main .destinations .destinations-container .row .col-3 .destination-card .destination-texts .destination-button button:hover, main .about .about-container .row .col-6 .about-texts article button:hover, main .hero .hero-texts article button:hover {
  cursor: pointer;
}

main .book-now .row .col-6 .book-button button, main .destinations .destinations-container .row .col-3 .destination-card .destination-texts .destination-button button, main .about .about-container .row .col-6 .about-texts article button, main .hero .hero-texts article button {
  margin-top: 20px;
  padding: 20px 35px;
  background-color: #2089ff;
  border: none;
  color: white;
  letter-spacing: 2px;
  border-radius: 7px;
  font-weight: 700;
}
main .book-now .row .col-6 .book-button button:hover, main .destinations .destinations-container .row .col-3 .destination-card .destination-texts .destination-button button:hover, main .about .about-container .row .col-6 .about-texts article button:hover, main .hero .hero-texts article button:hover {
  cursor: pointer;
}

header .header-container {
  width: 100%;
  padding: 40px 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .header-container #hamburger {
  display: none;
  font-size: 25px;
}
@media (max-width: 992px) {
  header .header-container #hamburger {
    display: block;
    padding: 0;
  }
}
header .header-container .header-left {
  width: 20%;
}
header .header-container .header-left .header-image {
  width: 70%;
  margin: 0 auto;
}
header .header-container .header-left .header-image img {
  padding: 0 40px;
}
header .header-container .header-right {
  width: 70%;
}
@media (max-width: 992px) {
  header .header-container .header-right {
    display: none;
  }
}
header .header-container .header-right .row {
  display: flex;
  justify-content: space-between;
}
header .header-container .header-right .row .col-3 .header-card {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .header-container .header-right .row .col-3 .header-card .header-icon i {
  padding: 10px;
  font-size: 16px;
  background-color: #2089ff;
  border-radius: 50%;
}
header .header-container .header-right .row .col-3 .header-card .header-texts article h4 {
  font-size: 1.2em;
  color: black;
  font-family: Oswald;
  font-weight: 400;
}
header .header-container .header-right .row .col-3 .header-card .header-texts article span {
  color: #808080;
  font-size: 1em;
  letter-spacing: 0.3;
  font-family: Open Sans;
}

.nav-container {
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 1;
}
@media (max-width: 992px) {
  .nav-container {
    display: none;
  }
}
.nav-container nav {
  background-color: #2089ff;
  padding: 30px 0;
}
.nav-container nav .nav-wrapper ul {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.nav-container nav .nav-wrapper ul li:nth-child(1) a {
  text-decoration: underline;
  color: white;
}
.nav-container nav .nav-wrapper ul li a {
  font-family: Oswald;
  color: white;
  font-size: 17px;
  font-weight: 600;
}

main .hero {
  font-family: Oswald;
  background-image: linear-gradient(90deg, rgb(8, 197, 246) 0%, rgb(37, 141, 180) 0%, rgba(0, 0, 0, 0.212) 0%), url("https://preview.colorlib.com/theme/waterboat/images/hero_1.jpg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 260px 0;
  position: relative;
}
@media (max-width: 992px) {
  main .hero {
    background-position: left center;
  }
  main .hero .hero-left-icon {
    display: none;
  }
  main .hero .hero-right-icon {
    display: none;
  }
}
@media (max-width: 576px) {
  main .hero {
    background-position: left center;
  }
  main .hero .hero-left-icon {
    display: none;
  }
  main .hero .hero-right-icon {
    display: none;
  }
}
main .hero .hero-left-icon {
  display: none;
  position: absolute;
  left: 0;
  bottom: 50%;
}
main .hero .hero-left-icon i {
  background-color: white;
  padding: 18px;
  border-radius: 50%;
}
main .hero .hero-right-icon {
  display: none;
  position: absolute;
  bottom: 50%;
  right: 0;
}
main .hero .hero-right-icon i {
  background-color: white;
  padding: 18px;
  border-radius: 50%;
}
main .hero .hero-texts {
  width: 80%;
  margin: 0 auto;
}
main .hero .hero-texts:hover .hero-left-icon {
  display: block;
  z-index: 66;
}
main .hero .hero-texts:hover .hero-right-icon {
  display: block;
}
main .hero .hero-texts article {
  width: 100%;
  text-align: right;
  text-align-last: right;
}
@media (max-width: 576px) {
  main .hero .hero-texts article h1 {
    font-size: 38px;
  }
  main .hero .hero-texts article p {
    font-size: 14px;
  }
}
main .hero .hero-texts article h1 {
  color: white;
  font-size: 48px;
  font-weight: 400;
}
main .hero .hero-texts article p {
  color: white;
  font-size: 18px;
  line-height: 2em;
  font-weight: 300;
  letter-spacing: 2px;
}
main .about {
  margin-top: 100px;
  width: 100%;
  background-image: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(32, 136, 255, 0.682) 0%), url("https://preview.colorlib.com/theme/waterboat/images/hero_1.jpg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
}
main .about .about-container {
  background-color: white;
  z-index: 1;
  padding: 0 100px;
}
main .about .about-container .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (max-width: 992px) {
  main .about .about-container .row {
    display: flex;
    flex-direction: column;
  }
  main .about .about-container .row .col-md-6 {
    width: 100%;
  }
}
main .about .about-container .row .col-6 .about-image img {
  width: 100%;
}
main .about .about-container .row .col-6 .about-texts {
  padding: 0 50px;
}
main .about .about-container .row .col-6 .about-texts article span {
  color: #2089ff;
  font-family: Dancing Script;
  font-size: 17px;
}
main .about .about-container .row .col-6 .about-texts article h3 {
  font-size: 28px;
  font-family: Oswald;
  font-weight: 400;
  padding-bottom: 20px;
}
main .about .about-container .row .col-6 .about-texts article hr {
  width: 60px;
  border: 2px solid;
  color: #2089ff;
}
main .about .about-container .row .col-6 .about-texts article p {
  padding-top: 20px;
  color: #808080;
  font-size: 20px;
  font-family: Oswald;
  font-weight: 200;
  letter-spacing: 1px;
}
main .about .about-experience {
  background-color: white;
  padding: 100px 100px;
  width: 100%;
  z-index: 1;
}
main .about .about-experience .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 992px) {
  main .about .about-experience .row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 5px;
  }
  main .about .about-experience .row .col-md-6 {
    width: 48%;
  }
}
@media (max-width: 576px) {
  main .about .about-experience .row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 5px;
  }
  main .about .about-experience .row .col-sm-12 {
    width: 100%;
  }
}
main .about .about-experience .row .col-4 .experience-card .experience-image i {
  font-size: 40px;
}
main .about .about-experience .row .col-4 .experience-card .experience-texts article {
  padding-top: 20px;
}
main .about .about-experience .row .col-4 .experience-card .experience-texts article h3 {
  font-size: 20px;
  font-family: Oswald;
  font-weight: 500;
}
main .about .about-experience .row .col-4 .experience-card .experience-texts article p {
  padding-top: 15px;
  color: #808080;
  font-size: 20px;
  line-height: 1.3em;
  font-family: Oswald;
  font-weight: 200;
  letter-spacing: 1px;
}
main .about .counts {
  padding: 80px 100px;
}
main .about .counts .counts-container .row {
  display: flex;
  justify-content: center;
}
@media (max-width: 992px) {
  main .about .counts .counts-container .row {
    display: flex;
    flex-direction: row;
  }
  main .about .counts .counts-container .row .col-md-4 {
    width: 40%;
  }
}
@media (max-width: 576px) {
  main .about .counts .counts-container .row {
    display: flex;
    flex-direction: row;
  }
  main .about .counts .counts-container .row .col-sm-8 {
    width: 60%;
  }
}
main .about .counts .counts-container .row .col-2 .counts-card .counts-text {
  text-align: center;
}
main .about .counts .counts-container .row .col-2 .counts-card .counts-text h3 {
  color: white;
  font-size: 50px;
  font-family: Open Sans;
}
main .about .counts .counts-container .row .col-2 .counts-card .counts-text span {
  color: white;
  font-size: 17px;
  font-family: Open Sans;
  font-weight: 200;
}

main .destinations {
  width: 100%;
  margin-top: 100px;
}
main .destinations .destinations-container {
  margin: 0 auto;
  padding: 0 100px;
}
main .destinations .destinations-container .destinations-titles article {
  text-align: center;
}
main .destinations .destinations-container .destinations-titles article span {
  font-family: Dancing Script;
  font-size: 17px;
  color: #2089ff;
}
main .destinations .destinations-container .destinations-titles article h3 {
  font-size: 28px;
  font-family: Oswald;
  color: black;
}
main .destinations .destinations-container .destinations-titles article h3::after {
  content: "";
  border-bottom: 2px solid #2089ff;
  width: 50px;
}
main .destinations .destinations-container .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media (max-width: 992px) {
  main .destinations .destinations-container .row .col-md-6 {
    width: 40%;
  }
}
@media (max-width: 576px) {
  main .destinations .destinations-container .row .col-sm-12 {
    width: 100%;
  }
}
main .destinations .destinations-container .row .col-3 {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
main .destinations .destinations-container .row .col-3 .destination-card .destination-image img {
  width: 100%;
}
main .destinations .destinations-container .row .col-3 .destination-card .destination-texts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}
main .destinations .destinations-container .row .col-3 .destination-card .destination-texts .destination-icon small {
  font-size: 18px;
  font-family: Oswald;
}
main .destinations .destinations-container .row .col-3 .destination-card .destination-texts .destination-icon small:last-of-type {
  color: #808080;
  font-weight: 100;
}
main .destinations .destinations-container .row .col-3 .destination-card .destination-texts .destination-button button {
  padding: 10px 25px;
  border-radius: 4px;
}

main .book-now {
  margin-top: 100px;
  width: 100%;
  padding: 0 100px;
}
main .book-now .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (max-width: 992px) {
  main .book-now .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main .book-now .row .col-md-6 {
    width: 100%;
  }
}
@media (max-width: 576px) {
  main .book-now .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main .book-now .row .col-sm-12 {
    width: 100%;
  }
  main .book-now .row input {
    width: 100%;
  }
}
main .book-now .row .col-6 .book-image img {
  width: 100%;
  padding: 0 20px;
}
main .book-now .row .col-6 .book-texts {
  padding: 0 10px;
}
main .book-now .row .col-6 .book-texts article span {
  color: #2089ff;
  font-family: Dancing Script;
  font-size: 17px;
}
main .book-now .row .col-6 .book-texts article h3 {
  font-size: 28px;
  font-family: Oswald;
  font-weight: 400;
  padding-bottom: 20px;
}
main .book-now .row .col-6 .book-texts article hr {
  width: 60px;
  border: 2px solid;
  color: #2089ff;
}
main .book-now .row .col-6 .book-form {
  padding: 30px 0px;
}
main .book-now .row .col-6 .book-form form {
  font-family: Open Sans;
}
main .book-now .row .col-6 .book-form form .part-1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
main .book-now .row .col-6 .book-form form .part-1 .col-6 label {
  font-size: 18px;
  color: #808080;
}
main .book-now .row .col-6 .book-form form .part-1 .col-6 input {
  padding: 6px 12px;
  border-radius: 5px;
  border: 1px solid #808080;
}
@media (max-width: 992px) {
  main .book-now .row .col-6 .book-form form .part-1 .col-6 input {
    width: 90%;
  }
}
main .book-now .row .col-6 .book-form form .part-2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
main .book-now .row .col-6 .book-form form .part-2 .col-6 label {
  font-size: 18px;
  color: #808080;
}
main .book-now .row .col-6 .book-form form .part-2 .col-6 input {
  padding: 6px 12px;
  border-radius: 5px;
  border: 1px solid #808080;
}
@media (max-width: 992px) {
  main .book-now .row .col-6 .book-form form .part-2 .col-6 input {
    width: 90%;
  }
}
main .book-now .row .col-6 .book-form form .choose label {
  font-size: 18px;
  color: #808080;
}
main .book-now .row .col-6 .book-form form .choose #select {
  width: 50%;
  padding: 6px 12px;
  border-radius: 5px;
}
main .book-now .row .col-6 .book-form form .choose #select option {
  font-size: 18px;
  color: #808080;
}
@media (max-width: 992px) {
  main .book-now .row .col-6 .book-form form .choose #select {
    width: 90%;
  }
}
main .book-now .row .col-6 .book-form form .part-3 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
main .book-now .row .col-6 .book-form form .part-3 .col-6 label {
  font-size: 18px;
  color: #808080;
}
main .book-now .row .col-6 .book-form form .part-3 .col-6 input {
  padding: 6px 12px;
  border-radius: 5px;
  border: 1px solid #808080;
}
@media (max-width: 992px) {
  main .book-now .row .col-6 .book-form form .part-3 .col-6 input {
    width: 90%;
  }
}
main .book-now .row .col-6 .book-form form .textarea label {
  font-size: 18px;
  color: #808080;
}
main .book-now .row .col-6 .book-form form .textarea #textarea {
  width: 50%;
  border-radius: 5px;
  border: 1px solid #808080;
}
@media (max-width: 992px) {
  main .book-now .row .col-6 .book-form form .textarea #textarea {
    width: 90%;
  }
}
main .book-now .row .col-6 .book-button button {
  border-radius: 5px;
}

main .team {
  margin-top: 100px;
}
main .team .team-container .team-texts {
  text-align: center;
}
main .team .team-container .team-texts article span {
  font-size: 17px;
  font-family: Dancing Script;
  color: #2089ff;
}
main .team .team-container .team-texts article h3 {
  font-size: 28px;
  font-family: Oswald;
  font-weight: 400;
}
main .team .team-container .row {
  padding: 30px 0px;
  display: flex;
  justify-content: center;
  gap: 15px;
}
@media (max-width: 992px) {
  main .team .team-container .row .col-md-4 {
    width: 33%;
  }
}
@media (max-width: 576px) {
  main .team .team-container .row .col-sm-8 {
    width: 60%;
  }
}
main .team .team-container .row .col-2 .team-card .team-card-image {
  position: relative;
}
main .team .team-container .row .col-2 .team-card .team-card-image img {
  width: 100%;
  transition: 0.4s;
}
main .team .team-container .row .col-2 .team-card .team-card-image img:hover {
  width: 100%;
  transform: scale(1.1);
}
main .team .team-container .row .col-2 .team-card .team-card-image .card-image-icons {
  position: absolute;
  left: 3%;
  bottom: 5%;
}
main .team .team-container .row .col-2 .team-card .team-card-image .card-image-icons ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
main .team .team-container .row .col-2 .team-card .team-card-image .card-image-icons ul li i {
  width: 100%;
  padding: 10px;
  background-color: white;
  transition: 0.5s;
}
main .team .team-container .row .col-2 .team-card .team-card-image .card-image-icons ul li i:hover {
  background-color: #222;
  cursor: pointer;
}
main .team .team-container .row .col-2 .team-card .team-card-text {
  text-align: center;
}
main .team .team-container .row .col-2 .team-card .team-card-text h3 {
  font-size: 28px;
  font-family: Oswald;
  font-weight: 400;
}
main .team .team-container .row .col-2 .team-card .team-card-text span {
  font-size: 17px;
  font-family: Open Sans;
  color: #2089ff;
}/*# sourceMappingURL=main.css.map */